* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  width: 80%;
  margin-left: 10%;
  padding: 50px 0px;
  background-color: #a76bcf;

}

.padd {
  padding: 20px;
}

.header {
  width: 100%;
  justify-content: space-between;
  font-family: Brush Script MT;
  color: Aquamarine;
  display: flex;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #ecebbd;

}

.card {
  height: 300px;
  width: 18%;
  margin: 10px 0px 10px 0px;
  background-color: chocolate;
  background-position: center;
  background-size: cover;
}

.overlay {
  height: 300px;
  width: 100%;
  background: url("https://static.vecteezy.com/system/resources/thumbnails/000/535/750/small/back_of_playcard13.jpg");
  background-position: center;
  background-size: cover;
}

.opened {
  display: none;
}